.menu {
    background-color: #523468;
    height: 100px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.wrapper-menu {
    margin-left: 5%;
    width: 70%;
}

.login {
    width:20%;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nav-menu a {
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    margin-left: 25px;
    border-radius: 5px;
    font-style: italic;
    margin-top: 30px;
}

.clearance {
    padding: 10px 20px;
    background-color: #422A53;
}

.nav-menu a:hover {
   text-decoration: underline;    
}

.enter {
    font-size: 1.2em;
    color: #fff;
    margin-top: 40px;
    font-style: italic;
    float: right;
}

.enter a{
    text-decoration: none;
    color: #fff;
}

.enter a:first-child{
    margin-right: 20px;
}

.enter a:last-child{
    margin-left: 20px;
}

.enter a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.login span {
    color: #c3aada;
}

@media (max-width: 999px) {
    .menu {
        display: none;
    }
}